<section class="user-section">
  <div class="flex">
    <h2><%= "Name: #{@user.name}" %></h2>
    <%= friendship_button(@user) %>
  </div>

  <% if verify_friendship(@user) %>
    <article class="timeline">
      <h3>Recent posts:</h3>
      <ul class="posts">
        <%= render @posts %>
      </ul>
    </article>
  <% end %>
</section>

